# dotfiles and test scripts
.*
test*

# test
!tests/

# typescript
*.js
/dist/

#git
!.gitignore

# github
!.github
!.github/*/*

# prettier
!.prettierignore
!.prettierrc.yaml

# nodejs
node_modules/
package-lock.json

# redis
*.rdb
.rediscli_history

# yarn
yarn.lock

