# dotfiles and test scripts
.*
test*


# test
!tests/

# typescript
*.js
/dist/

#git
!.gitignore

# github
!.github
!.github/*/*

# vscode
!.vscode

# prettier
!.prettierignore
!.prettierrc.yaml

# eleventy
!.eleventy.js
/public/

# nodejs
node_modules/
package-lock.json

# redis
*.rdb
.rediscli_history

# yarn
yarn.lock

