body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #333538;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

a {
  color: #00aeef;
  text-decoration: none;
}

a:hover {
  color: #f07efa;
}

.patreon-widget {
  margin-bottom: 1rem;
  margin-left: 20.5%;
}
