<!doctype html>
<html>
  <head>
    {% set title = "Home" %}
    {% set css = "./index.css" %}
    {% set script = "./index.tsx" %}
    {% include "head.njk" %}
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
