<!doctype html>
<html lang="en">
  <head>
    {% set title = "Toolbox" %}
    {% set css = "./index.css" %}
    {% set script = "./index.tsx" %}
    {% include "head.njk" %}
  </head>

  <body>
    <main id="root"></main>
  </body>
</html>
