{
        admin off
        email admin@uncivserver.xyz
}

uncivserver.xyz {
        reverse_proxy [::1]:1557
        encode zstd gzip

        tls {
                dns cloudflare {env.CF_API_TOKEN}
        }
}
