{
        admin off
        email admin@uncivserver.xyz
}

uncivserver.xyz {
        reverse_proxy [::1]:1557
        encode zstd gzip

        tls {
                dns cloudflare {
                        zone_token {env.CF_ZONE_TOKEN}
                        api_token {env.CF_API_TOKEN}
                }
        }
}
