[Unit]
Description=UncivServer.xyz

[Service]
# Replace `/bun/directory` with `which bun` output
ExecStart=/bun/directory/bun start
Restart=always
RestartSec=5s
StartLimitBurst=1000000
User=nobody
Group=nogroup
# replace `/echo/path/here` with `echo $PATH` output
Environment=PATH=/echo/path/here
# replace `/path/to/home/UncivServer.xyz` with server repo path
WorkingDirectory=/path/to/home/UncivServer.xyz

[Install]
WantedBy=multi-user.target
