name: Run Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    defaults:
      run:
        shell: bash

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Lint TypeScript
        run: bun lint

      - name: Make .env file
        run: |
          echo "SYNC_TOKEN=$(openssl rand -base64 32)" > .env
          echo "MONGO_URL=${{ secrets.MONGO_URL }}" >> .env
          echo "DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }}" >> .env

      - name: Run tests
        run: bun test

      - name: Shred data!
        run: shred -uzn 10 .env
