name: Run Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-db: unciv

      - name: Run Build Script
        run: bun run build

      - name: Lint TypeScript
        run: bun lint

      - name: Run tests
        run: |
          HOST=::1 \
          SYNC_TOKEN=$(openssl rand -base64 32) \
          DISCORD_TOKEN=$(openssl rand -base64 32) \
          MONGO_URL=mongodb://localhost:27017/unciv \
          bun test
